:root {
  --grey: #F0F1F6;
  --dark-violet: #3A3053;
  --black-violet: hsl(260, 8%, 14%);
  --inverse-text-dark: #B8B5BC
}
.App {
  text-align: center;
}

html {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root>section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-gutter {
  width: 100%;
  max-width: 760px
}
